body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f5f7f9;
    font-family: 'Roboto', sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
}

/* Header */

.brand-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

@media (max-width:746px) {
	.brand-contact {
		grid-template-columns: 1fr;
	}
}

.contacts {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
}

@media (max-width:746px) {
	.contacts {
		display: none;
	}
}

.background-blue {
    background-color: #0047b3;
}

button[name="drop"] {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    font-size: 2rem;
    color: #ffffff;
}

.drop-content {
    display: none;
    background-color: #195d8e;
    position: absolute;
    height: 13rem;
}

.drop-content a {
    color: #ffffff;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.menu-drop:hover .drop-content {
    display: block;
}

.menu-drop:hover button[name="drop"] {
    background-color: transparent;
}

.drop-content a:hover {
    background-color: #44d4fc;
}

.menu-drop {
    display: none;
    position: relative;
    width: 0.625rem;
}

@media (max-width:746px) {
	.menu-drop {
		display: block;
	}
}

nav ul {
    height: 4rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;    
    list-style: none;    
}

@media (max-width:746px) {
	nav ul {
		display: none;
	}
}

nav ul li {
    border-right: 1px solid #E2E2E2;
}

nav ul a {
    padding: 1rem;
    text-decoration: none;
    color: #ADADAD;
}

nav ul a:hover {
    color: #ffffff;
    background-color: #44d4fc;
    border-radius: 5px;       
}
/* END Header */

/* Main */
a, b, blockquote, body, button, div, form, h3, i, img, li, ol, p, span, strong, tbody, ul, var {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
}
.featured .hero {
    position: relative;
    width: 100%;
    height: 550px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
{
    width: 1314px;
    margin-right: 0px;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel {
    display:;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -20px;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-nav .owl-prev {
    float: left;
    margin-left: 15px;
}
.owl-nav .owl-next {
    float: right;
    margin-right: 15px;
}
.featured .owl-dots {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.owl-dots {
    display: table;
    margin: 25px auto 0;
}
.owl-dots .owl-dot {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}
.owl-dots .owl-dot span {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #E2E2E2;
    border-radius: 50%;
    transition: All .3s ease-in-out;
}
.showcase .filter__title {
    position: relative;
    float: left;
    padding: 0 20px;
    color: #0047b3;
    font-size: 15px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
.showcase .filter {
    display: block;
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
}
.showcase .filter__item.current {
    color: #0047b3;
}
.showcase .filter__item {
    display: table-cell;
    vertical-align: middle;
    min-width: 80px;
    font-size: 12px;
    margin-right: 7px;
    font-weight: 700;
    color: #717171;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition: All .3s ease-in-out;
}
.showcase .filter__nav {
    position: relative;
    float: right;
    display: table;
    width: 84%;
    border-right: 1px solid #e1e1e1;
}
.showcase .headline {
    margin: 40px 0 20px;
}
.showcase .headline__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 13.5%;
    margin: 0 15px 25px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
ol, ul {
    list-style: none;
}
@media (min-width: 1200px){
    .container {
    width: 1170px;
    }
}
@media (min-width: 992px){
    .container {
    width: 970px;
    }
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.showcase .headline__cars {
    text-align: center;
}
.showcase .headline .float {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 40px;
    margin: auto;
    border-radius: 5px;
    background: linear-gradient(to bottom,#0047b3 ,#0047b3 100%);
    color: #fff;
    text-align: center;
    font-size: 11px;
    line-height: 40px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: All .4s ease-in-out;
    -moz-transition: All .4s ease-in-out;
    -o-transition: All .4s ease-in-out;
    transition: All .4s ease-in-out;
    -webkit-transform: translate3d(0,25%,0);
    -moz-transform: translate3d(0,25%,0);
    -o-transform: translate3d(0,25%,0);
    transform: translate3d(0,25%,0);
}
.showcase .headline .caption {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #6F6F6F;
    text-align: center;
    -webkit-transition: All .4s ease-in-out;
    transition: All .4s ease-in-out;
}
.showcase .card__title, .showcase .headline .caption, .showcase .headline .float {
    font-weight: 700;
    text-transform: uppercase;
}
.showcase .headline img {
    width: 100%;
    height: auto;
    margin: auto;
    -webkit-transition: All .4s ease-in-out;
    transition: All .4s ease-in-out;
}
@media only screen and (max-width: 767px){
    .showcase .headline figure {
    padding: 0 5px;
    }
}
figure {
    margin: 0;
}
a {
    text-decoration: none;
}
/* END Main */

/* Footer */

footer {
    background-color: #156a99;
    padding-top: 1rem;
    color: #ffffff;
    padding: 2rem 0rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-map {
    padding: 2rem 0rem;
}

.footer-map iframe{
    width: 100vw;
    height: 30vh;
}

.footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;   
}

@media (max-width:1024px) {
	.footer-contact {
		display: grid;
		justify-items: center;
		align-content: center;
		grid-gap: 1rem 0;
		grid-template-areas:
			"address"
			"email"
			"phone"
	}
}

.footer-email {
	display: grid;
	grid-area: email;
    grid-template-columns: auto 1fr;
	grid-gap: 0px 10px;
}

.footer-address {
	display: grid;
	grid-area: address;
    grid-template-columns: auto 1fr;
    grid-gap: 0px 10px;
}

.footer-phone {
	display: grid;
	grid-area: phone;
    grid-template-columns: auto 1fr;
    grid-gap: 0px 10px;
}

.social {
	width: 50%;
}

.social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;        
}

.social ul li {
    list-style: none;
}

.social ul li a, .social ul li a:visited {
    text-decoration: none;
    color: inherit;
}
/* END Footer */