body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f5f7f9;
    font-family: 'Roboto', sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
}

/* Header */

.brand-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

@media (max-width:746px) {
	.brand-contact {
		grid-template-columns: 1fr;
	}
}

.contacts {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
}

@media (max-width:746px) {
	.contacts {
		display: none;
	}
}

.background-blue {
    background-color: #0047b3;
}

button[name="drop"] {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    font-size: 2rem;
    color: #ffffff;
}

.drop-content {
    display: none;
    background-color: #195d8e;
    position: absolute;
    height: 13rem;
}

.drop-content a {
    color: #ffffff;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.menu-drop:hover .drop-content {
    display: block;
}

.menu-drop:hover button[name="drop"] {
    background-color: transparent;
}

.drop-content a:hover {
    background-color: #44d4fc;
}

.menu-drop {
    display: none;
    position: relative;
    width: 0.625rem;
}

@media (max-width:746px) {
	.menu-drop {
		display: block;
	}
}

nav ul {
    height: 4rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;    
    list-style: none;    
}

@media (max-width:746px) {
	nav ul {
		display: none;
	}
}

nav ul li {
    border-right: 1px solid #E2E2E2;
}

nav ul a {
    padding: 1rem;
    text-decoration: none;
    color: #ADADAD;
}

nav ul a:hover {
    color: #ffffff;
    background-color: #44d4fc;
    border-radius: 5px;       
}
/* END Header */

/* Main */

.title {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 5rem 0;   
}

.title h1, .sellers-title h1 {
    font-size: 3rem;
}

.description {
    font-size: 2rem;
    width: 80%;
}

.sellers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
}

.seller {
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: space-around;
}

@media (max-width:620px) {
    .seller {
        width: 100%;
    }
}

@media (max-width:620px) {
    .seller {
        flex-direction: column;        
    }
}

.seller-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seller-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seller-picture img {
    border-radius: 50%;
    width: 15rem;
    border: 5px solid #fff;
    box-shadow: 0px 0px 2px 2px rgba(0, 0 , 0, .4);
}

@media (max-width:870px) {
    .seller-picture img {
        width: 10rem;
    }    
}

@media (max-width:620px) {
    .seller-picture img {
        margin-top: 2rem;
    }    
}

.seller-name {
    font-size: 2rem;
    font-weight: 700;
}
/* END Main */

/* Footer */

footer {
    background-color: #156a99;
    padding-top: 1rem;
    color: #ffffff;
    padding: 2rem 0rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;   
}

@media (max-width:1024px) {
	.footer-contact {
		display: grid;
		justify-items: center;
		align-content: center;
		grid-gap: 1rem 0;
		grid-template-areas:
			"address"
			"email"
			"phone"
	}
}

.footer-email {
	display: grid;
	grid-area: email;
    grid-template-columns: auto 1fr;
	grid-gap: 0px 10px;
}

.footer-address {
	display: grid;
	grid-area: address;
    grid-template-columns: auto 1fr;
    grid-gap: 0px 10px;
}

.footer-phone {
	display: grid;
	grid-area: phone;
    grid-template-columns: auto 1fr;
    grid-gap: 0px 10px;
}

.social {
	width: 50%;
}

.social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;        
}

.social ul li {
    list-style: none;
}

.social ul li a, .social ul li a:visited {
    text-decoration: none;
    color: inherit;
}
/* END Footer */