body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f5f7f9;
    font-family: 'Roboto', sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
}

/* Header */

.brand-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

@media (max-width:746px) {
	.brand-contact {
		grid-template-columns: 1fr;
	}
}

.contacts {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
}

@media (max-width:746px) {
	.contacts {
		display: none;
	}
}

.background-blue {
    background-color: #0047b3;
}

button[name="drop"] {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    font-size: 2rem;
    color: #ffffff;
}

.drop-content {
    display: none;
    background-color: #195d8e;
    position: absolute;
    height: 13rem;
}

.drop-content a {
    color: #ffffff;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.menu-drop:hover .drop-content {
    display: block;
}

.menu-drop:hover button[name="drop"] {
    background-color: transparent;
}

.drop-content a:hover {
    background-color: #44d4fc;
}

.menu-drop {
    display: none;
    position: relative;
    width: 0.625rem;
}

@media (max-width:746px) {
	.menu-drop {
		display: block;
	}
}

nav ul {
    height: 4rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;    
    list-style: none;    
}

@media (max-width:746px) {
	nav ul {
		display: none;
	}
}

nav ul li {
    border-right: 1px solid #E2E2E2;
}

nav ul a {
    padding: 1rem;
    text-decoration: none;
    color: #ADADAD;
}

nav ul a:hover {
    color: #ffffff;
    background-color: #44d4fc;
    border-radius: 5px;       
}
/* END Header */

/* Main */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 10rem 0;
}

.title div h1 {
    text-align: center;
    margin: 4rem;
}

.icons-section {
    display: flex;
    width: 80vw; 
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width:360px) {
    .icons-section {
        flex-direction: column;
        align-items: center;
    }
}

.icons {
    display: flex;    
    flex-direction: column;
    align-items: center;
    max-width: 15vw;
}

@media (max-width:360px) {
    .icons {
        max-width: 100%;
    }
}

.icon-img {
    font-size: 5rem;
}

.finance-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.finance-brand h2 {
    text-align: center;
}

.icon-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;    
}

@media (max-width:460px) {
    .icon-brand {
        flex-direction: column;
    }
}

.icon-brand img {
    margin: 4rem 2rem 4rem 2rem;
}

@media (max-width:730px) {
    .icon-brand img {
        width: 10rem;
    }
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15rem;
}

.compre-agora {
    padding: 0 20px;
    margin-top: 7rem; 
    
}

.compre-agora a, .compre-agora a:visited {
    text-decoration: none;
    background-color: #2f2e2e;
    color: #ffffff;
    padding: 3rem;
    font-size: 1.8rem;
}

@media (max-width:530px) {
    .compre-agora a, .compre-agora a:visited {
        font-size: 1rem;
    }
}

@media (max-width:360px) {
    .compre-agora a, .compre-agora a:visited {
        font-size: 0.9rem;
        padding: 2rem;
    }
}

/* END Main */

/* Footer */

footer {
    background-color: #156a99;
    padding-top: 1rem;
    color: #ffffff;
    padding: 2rem 0rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;   
}

@media (max-width:1024px) {
	.footer-contact {
		display: grid;
		justify-items: center;
		align-content: center;
		grid-gap: 1rem 0;
		grid-template-areas:
			"address"
			"email"
			"phone"
	}
}

.footer-email {
	display: grid;
	grid-area: email;
    grid-template-columns: auto 1fr;
	grid-gap: 0px 10px;
}

.footer-address {
	display: grid;
	grid-area: address;
    grid-template-columns: auto 1fr;
    grid-gap: 0px 10px;
}

.footer-phone {
	display: grid;
	grid-area: phone;
    grid-template-columns: auto 1fr;
    grid-gap: 0px 10px;
}

.social {
	width: 50%;
}

.social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;        
}

.social ul li {
    list-style: none;
}

.social ul li a, .social ul li a:visited {
    text-decoration: none;
    color: inherit;
}
/* END Footer */